@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@model NavMenuViewModel;

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ECommerce</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">@SharedLocalizer["Products"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Cart" asp-action="Index">@SharedLocalizer["ShoppingCart"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">@SharedLocalizer["Privacy"]</a>
                    </li>
                </ul>
                <div class="navbar-text d-flex align-items-center">
                    <form asp-controller="Home" asp-action="SetRegion" method="post" class="region-container d-flex me-3">
                        <input type="hidden" name="returnUrl" value="@($"{Context.Request.Path}{Context.Request.QueryString}")" />
                        <span class="region-label me-2">@SharedLocalizer["Deliver to"]:</span>
                        <select name="regionCode" onchange="this.form.submit()" class="form-select form-select-sm">
                            @foreach (var region in Model.Regions)
                            {
                                <option value="@region.Code" selected="@(region.Code == ViewBag.CurrentRegion)">@region.Name</option>
                            }
                        </select>
                    </form>

                    @{
                        var culture = Context.Features.Get<IRequestCultureFeature>();
                        var currentCulture = culture.RequestCulture.UICulture;
                        var cultureItems = new List<SelectListItem>
                        {
                        new SelectListItem { Value = "en", Text = "English", Selected = (currentCulture.Name == "en") },
                        new SelectListItem { Value = "vi", Text = "Tiếng Việt", Selected = (currentCulture.Name == "vi") },
                        new SelectListItem { Value = "zh", Text = "简体中文", Selected = (currentCulture.Name == "zh") }
                        };
                        var returnUrl = Context.Request.Path == $"/{currentCulture}/Home/Index" || Context.Request.Path == $"/{currentCulture}/"
                        ? $"/{currentCulture}"
                        : $"{Context.Request.Path}{Context.Request.QueryString}";
                    }
                    <form id="cultureForm" asp-controller="Home" asp-action="SetLanguage" method="post" class="d-flex">
                        <input type="hidden" name="returnUrl" value="@returnUrl" />
                        <span class="me-2">@SharedLocalizer["Language"]:</span>
                        <select name="culture" onchange="this.form.submit()" class="form-select form-select-sm">
                            @foreach (var cultureItem in cultureItems)
                            {
                                <option value="@cultureItem.Value" selected="@cultureItem.Selected">@cultureItem.Text</option>
                            }
                        </select>
                    </form>

                </div>
            </div>
        </div>
    </nav>
</header>