@model NavMenuViewModel;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ECommerce</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">@SharedLocalizer["Products"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Cart" asp-action="Index">@SharedLocalizer["ShoppingCart"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">@SharedLocalizer["Privacy"]</a>
                    </li>
                </ul>
                <div class="navbar-text d-flex align-items-center">
                    <form asp-controller="Home" asp-action="SetRegion" method="post" class="region-container d-flex me-3">
                        <input type="hidden" name="returnUrl" value="@($"{Context.Request.Path}{Context.Request.QueryString}")" />
                        <span class="region-label me-2">@SharedLocalizer["Deliver to"]:</span>
                        <select name="regionCode" onchange="this.form.submit()" class="form-select form-select-sm">
                            @foreach (var region in Model.Regions)
                            {
                                <option value="@region.Code" selected="@(region.Code == ViewBag.CurrentRegion)">@region.Name</option>
                            }
                        </select>
                    </form>

                    <div class="dropdown">
                        @{
                            var returnUrl = $"{Context.Request.Path}{Context.Request.QueryString}";
                        }
                        <language-nav language-label="NativeName"
                                      class="fixed-width-dropdown"
                                      cookie-handler-url="@Url.Action("SetCultureCookie", "Home", new { culture = "{0}", returnUrl = returnUrl })">
                        </language-nav>
                    </div>

                </div>
            </div>
        </div>
    </nav>
</header>