@using Microsoft.AspNetCore.Localization

@inject IHttpContextAccessor HttpContextAccessor

@{
    var currentCulture = HttpContextAccessor.HttpContext?
                        .Features.Get<IRequestCultureFeature>()?.RequestCulture.Culture.Name ?? "en";
    var returnUrl = Context.Request.Path + Context.Request.QueryString;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ECommerce.MvcClient</title>

        <link rel="preconnect" href="https://scripts.sirv.com/sirvjs/v3/sirv.js?modules=zoom,video,gallery" crossorigin />
    <link rel="dns-prefetch" href="https://scripts.sirv.com/sirvjs/v3/sirv.js?modules=zoom,video,gallery" />
    <link rel="dns-prefetch" href="https://theodorealexander.sirv.com" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.6/css/flag-icon.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    @await Component.InvokeAsync("NavMenu")

    <div class="container">
        <main role="main" class="pb-3">
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success">@TempData["SuccessMessage"]</div>
            }
            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
            }
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
            }
            @if (TempData["LocationSet"] != null)
            {
                <div class="alert alert-info">@TempData["LocationSet"]</div>
            }

            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - ECommerce.MvcClient - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="https://scripts.sirv.com/sirvjs/v3/sirv.js" inline async></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>